@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
*{	padding:0;
	margin: 0;
	box-sizing: border-box;

}
body{
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	position:fixed ;
	padding:12px ;
	top:0 ;
	left:0 ;
	width:100% ;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	z-index: 99;
	margin-top:0px;

} 

.logo{background: #1900FF;
background: linear-gradient(to right, #1900FF 0%, #B83DFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
	

}




.a-list{
	margin:10px ;
	padding:10px ;
	font-size: 25px;
	color: whitesmoke;
	font-style:italic ;
	text-decoration: none;
	position: relative;
	outline: none;

}



.a-list:hover{
		 color: skyblue;
 		 box-shadow: 0px 02px 2px 0px skyblue;
	border-radius: 10px;
 		 border-radius: 10px;

}

.button-s{
	font-family: 'Poppins', sans-serif;
  color: skyblue;
  font-size: 16px;
  text-shadow: 1px 1px 0px #000000;
  padding: 16px 30px;
  border-radius: 10px;
  border:none;
  background: none;
}
.button-s:hover {
          color: white;
 		       box-shadow: 0px 02px 2px 0px skyblue;
	        border-radius: 10px;
 		      border-radius: 10px;
          
  
}


svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 9s infinite alternate;
	stroke-width: 4;
	stroke: white;
	font-size: 47px;
}
@keyframes stroke {
	0%   {
		fill: rgba(45,177,204,0); stroke: rgba(11,255,11,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(45,177,204,0); stroke: rgba(11,255,11,1); }
	80%  {fill: rgba(45,177,204,0); stroke: rgba(11,255,11,1); stroke-width: 3; }
	100% {
		fill: rgba(45,177,204,1); stroke: rgba(11,255,11,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


.wrapper {background-color:none};






@media only screen and (max-width: 736px) {
  body {background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
    
  
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}



.wrapper-1{ 
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 490px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	margin:auto;
  padding: auto;
	backdrop-filter: blur(20px);
	border-radius: 15px;


}



.logo-2{padding: 7px;
  margin-left:100px ;
	align-items: center;
	justify-content: center;	
	color:skyblue ;
	font-size: 25px;
}
	

label{
	color:whitesmoke;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	font-weight: 500;
	pointer-events:none;
	padding:10px;
	  margin: 10px;

}   
.input-box input{
	size:30px;
	width: 100%;
	height: 30px;
	background: transparent;
	border:none;
	outline: none;
	box-shadow: 0px 3px black;
	
}

.button-form{
	 color:whitesmoke;
	 font-size: 20px;
   	width: 100%;
   	height: 30px;
   	background: none;
   	border: none;
   	border-radius: 10px;

}
.button-form:hover{
	color: skyblue;
	box-shadow: 0px 02px 2px 0px skyblue;
	border-radius: 10px;
	font-size: 22px;
  

}
.button-form:after{
	
}

.input-box input:focus~label.
.input-box input:valid~label{top: -5px;}

.p-tag{font-size: 20px;
	padding: 5px;
	margin: 10px;
	display: flex;	
	color:whitesmoke;
	align-items: center;
	justify-content: center;

}

.check-box{	
	margin: 5px;
 	padding: 5px;
 	background: transparent;
 	border-radius: 10px;
 

}

#p-for{
	font-size:20px ;
	color:whitesmoke;
}
.forget{
	font-style:bold;
 text-decoration: none;
  color:#33CFFF ;
	margin: 4px;
	padding: 4px;
}
.forget:hover{
	font-size:19px;
	box-shadow: 0px 02px 2px 0px skyblue;
	border-radius: 10px;

}
.reg{
	text-decoration: none;
	color:#33CFFF ;
	margin: 4px;
	padding: 4px;

}
.reg:hover{
	font-size:19px;
   box-shadow: 0px 02px 2px 0px skyblue;	
   border-radius: 10px;
}





